@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3 {
  font-family: "Bitter", serif;
}

p,
h4,
h5 {
  font-family: "Libre Franklin", sans-serif;
}
p {
  line-height: 1.7;
  font-size: 18px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 10rem;

  .logo img {
    height: 150px;
  }
  .navbar {
    color: #fff;
  }
}

.hero {
  background-image: url(./images/hero-image.jpeg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  .header {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}

.search-bar {
  padding: 20px 10px;
  position: absolute;
  bottom: 30px;
  background: #ffffffb3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  p {
    margin: 0;
    color: #5f5f5f;
  }
  .title {
    font-size: 21px;
    font-family: "Bitter", serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
  input,
  select,
  option {
    border-radius: 5px;
    border: 0.5px solid #1e1e1e;
    width: 200px;
    height: 30px;
    padding: 2px 5px;
  }
}

.packages {
  display: flex;
  flex-direction: column;
}

.trips {
  background-color: #000;
  height: 100vh;
  color: #fff;
  border: 30px solid #fff;
  .trip-box-content {
    height: 70vh;
    display: flex;
    align-items: center;
  }
}

.main-title {
  font-size: 3rem;
  font-weight: 800;
  padding: 20px 0 0 20px;
}

.trip-box {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border: 1px solid #fff;
  border-bottom: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  // padding: 25px;
  &-title {
    padding: 15px;
    padding-bottom: 0;
  }
  &-sub-title {
    color: rgba(248, 249, 250, 0.7);
  }

  .trip-link {
    border: 1px solid #fff;
    border-right: 0;
    border-left: 0;
    padding: 5px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #ffc107;
      color: #202222;
      transition: 0.3s ease-in-out;
    }
  }
}

.trip-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/EBCHeli/ebchelitour.jpg);
  background-position: center center;
  object-fit: cover;
}
.trip-2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/EBCTrek/ebctrek.jpg);
  background-position: center center;
  background-size: cover;
}
.trip-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/MardiHimal/mardiHimal.jpg);
  background-position: center center;
  background-size: cover;
}

.trip-header {
  background-color: #000;
  height: 100vh;
  color: #fff;
  background-attachment: fixed;
  .trip-box-content {
    height: 92vh;
    display: flex;
    align-items: center;
  }
}

// footer starts
.footer {
  background-color: #fff;
  // background-image: url(../../../image/footer1.png);
  background-size: cover;
  background-position: center;
  color: #202222;
  padding: 40px 0 5px 0;
  list-style: none;
  scroll-snap-align: start;
  scroll-snap-align: end;
  .footer-row {
    display: flex;
    justify-content: space-between;
    a {
      color: #202222;
    }
    .activities,
    .useful-link,
    .destinations {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          text-decoration: none;
          color: #202222 !important;
          font-size: 18px;
          line-height: 2;
          a {
            text-decoration: none;
            color: #292929;
            &:hover {
              color: #0b707e;
            }
          }
        }
      }
    }

    p {
      line-height: 2;
      font-family: "open sans";
      font-size: 18px;
    }
  }

  .footer-contact a {
    text-decoration: none;
  }

  &-content,
  &-affiliated,
  &-contact,
  &-useful-link {
    width: fit-content !important;
    text-align: left !important;
  }
  .copyright {
    text-align: center;
    font-size: 12px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      margin-bottom: 0;
      line-height: 2;
    }
    a {
      text-decoration: none;
      color: #202222;
    }
    a:hover {
      text-decoration: underline;
      color: #0b707e;
    }
    &-text {
      font-size: 12px;
    }
  }

  &-title {
    font-size: 22px;
    color: #202222;
    font-family: "Bitter", serif;
    font-weight: 600;
    ul {
      list-style: none;
    }
  }

  &-headquater {
    a {
      text-decoration: none;
      color: #202222;
      &:hover {
        color: #0b707e;
      }
    }
  }
}

.footer-affiliated {
  .affiliated-img {
    ul {
      padding: 0;
      list-style: none;
    }
    ul li {
      display: inline;
    }
    img {
      height: 55px;
      width: auto;
    }
  }
}

.payment-img img {
  height: 18px;
  width: auto;
}

.footer-social-icon {
  gap: 5px;
  .fbIcon a {
    font-size: 25px;
    color: #202222;
    &:hover {
      color: #3b5998;
      cursor: pointer;
    }
  }
  .twitterIcon a {
    font-size: 25px;
    color: #202222;
    &:hover {
      color: #00acee;
    }
  }
  .instaIcon a {
    color: #202222;
    font-size: 25px;
    &:hover {
      color: #8a3ab9;
    }
  }

  .linkedinIcon a {
    font-size: 25px;
    color: #202222;
    &:hover {
      color: #0072b1;
    }
  }
}

.global-title {
  font-size: 28px;
  font-family: "Bitter", serif;
}

.tripadvisor-footer {
  display: flex;
  justify-content: center;
  // img {
  //   width: 200px;
  // }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.footer-social-icon {
  gap: 10px;
  span {
    font-size: 20px;
    color: #202222;
  }
}

// footer ends

// trip page starts
.trip-box-title h1 {
  font-size: 25px;
  font-family: "Libre Franklin", sans-serif;
}
.trip-fact-container {
  background-color: #f8f9fa;
}
.trip-fact-icon {
  font-size: 20px;
  color: #b88746;
}
.trip-fact-title,
.trip-fact-subtitle {
  font-size: 14px;
}
.trip-fact-content {
  line-height: 1.2;
}

.trip-price-box {
  border: 2px solid #202222;
  background-color: #202222;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.price-header {
  background-color: #202222;
  color: #fff;
}

.price-icon {
  font-size: 40px;
}
.trip-nav-menu-item {
  gap: 60px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.link-hover-white {
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.link-hover-white:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-hover-white:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.link-hover-black {
  // display: inline-block;
  position: relative;
  color: #000;
  cursor: pointer;
}

.link-hover-black:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-hover-black:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.trip-info-title h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.trip-info-sub-title {
  h4 {
    font-family: "Bitter", serif;
    font-weight: 600;
  }
}

.trip-info-content {
  p {
    text-align: justify !important;
  }
}

// trip page ends

.footer {
  background-color: #f8f9fa;
}

.scroll-top {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #ffc107;
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
}

@media (max-width: 567px) {
  p {
    font-size: 14px;
  }
  .top-nav {
    padding: 0;
  }
  .logo img {
    height: 100px;
  }
  .header {
    display: flex;
    justify-content: center;
  }

  .search-bar {
    width: 90%;
    input,
    select,
    option {
      width: 100%;
    }
  }

  .main-title {
    font-size: 2rem;
    padding-top: 130px !important;
    padding: 10px;
    text-align: center;
  }
  .trips {
    border: none;
    margin-top: 5px;
  }
  .trip-box {
    width: 60%;
  }

  .trip-header {
    .trip-box {
      width: 90%;
    }
    .departure-date-btn {
      padding: 7px;
    }
  }
  .trip-advisor-small {
    display: none;
  }

  .trip-nav-menu {
    overflow-x: scroll;
  }
  // .trip-nav-menu-item {
  //   width: 900px !important;
  // }
  .trip-nav-price {
    display: none;
  }
  // .trip-nav {
  //   overflow-y: scroll;
  // }

  .trip-header .trip-box-content {
    height: 94vh;
  }

  .trip-nav::-webkit-scrollbar {
    display: none !important;
  }
  .trip-nav-menu-item {
    gap: 30px;
  }
  .mobile-trip-price {
    display: none;
    position: fixed;
    background: #202222;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 0 10px;
    p {
      font-size: 14px;
    }
    .trip-title {
      font-size: 16px;
    }
  }
  .trip-price-box {
    display: none;
  }

  .footer-social-icon {
    .col-1 {
      padding: 0 !important;
    }
  }

  .tripadvisor-widget-custom {
    #CDSWIDSSP {
      width: 100% !important;
    }
  }

  .footer {
    .footer-row {
      justify-content: center !important;
    }
    &-content {
      text-align: center !important;
    }
  }
}
@media (max-width: 900px) {
  .affiliated-img {
    img {
      height: 30px;
      width: auto;
    }
  }
}

@media (min-width: 568px) and (max-width: 820px) {
  .search-bar {
    width: 90%;
  }
  .main-title {
    font-size: 2rem;
    text-align: center;
  }

  .trip-box {
    width: 50%;
  }

  .trip-header .trip-box-content {
    height: 91vh;
  }
}
